@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


/* NORMALIZADO */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #02475e;
}


.logo{
    width: 300px;
    display: block;
    margin: 0 auto 15px;   
}

/* MAIN */

body{
    background-image: url(/img/books.jpg);
   }

.links-items{
    display: block;
    max-width: 550px;
    margin: 0 auto 15px;
    margin-bottom: 5px;
    padding: 15px 20px;
    font-size: 0.95rem;
    line-height: 1.5;    
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.links-items a{
    text-decoration: none;
    border: 1px solid #f3bda1;
    padding: 10px 100px;
    
    color: #fff;
    transition: 0.5s;
}

.links-items a:hover{
    font-size: large;
}


